{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block content %}
<h1 align="center">Your Schedule</h1>
<ul class="list-group list-group-flush" id="schedules">
    {% if schedules %}
        {% for schedule in schedules %}
            <li class="list-group-item">
                Shift Start: {{ schedule.shift_start }}<br>
                Shift End: {{ schedule.shift_end }}
            </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">No schedule available</li>
    {% endif %}
</ul>

{% endblock %}
